@use "palette";
@use "config";

@forward "palette";

$foreground: null !default;
$background: null !default;
$foreground-secondary: null !default;
$background-secondary: null !default;
$shadow: null !default;
$highlight: null !default;
$error: null !default;

@if config.$darkmode {

  $foreground: palette.$base06;
  $background: palette.$base00;
  $foreground-secondary: palette.$base04;
  $background-secondary: palette.$base02;

  $shadow: rgba(black, 0.25);
  $error: palette.$base08;

  @if config.$professional {
    $highlight: palette.$baseF4;
  } @else {
    $highlight: palette.$baseF6;
  }

} @else {

  $foreground: palette.$base01;
  $background: palette.$base07;
  $foreground-secondary: palette.$base03;
  $background-secondary: palette.$base06;

  $shadow: rgba(palette.$base03, 0.25);
  $error: palette.$base08;

  @if config.$professional {
    $highlight: palette.$baseF4;
  } @else {
    $highlight: palette.$baseF5;
  }

}
